<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'Files/style.css' %}" />
        import pandas as pd

    import sklearn
    from sklearn import linear model
    -->
    import pandas as pd
    import numpy as np
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Arquivos</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand " href="{% url 'files:index' %}">File analyzer</a>
        </div>
        <div>
            <a HREF="{% url 'files:add_file' %}">

            </a>

        </div>
    </nav>
    {% if all_files %}
    <h2>Arquivos :</h2>
    <ul>
        {% for file in all_files %}
        <li><a href="/file/{{file.name}}/">{{file.name}}</a> </li>
        {% endfor %}
    </ul>
    {% else %}
            <!-- <h2>No files to show</h2> -->
    {% endif %}
    <div>
        <form>
            <input type="file" name="myFile"><br><br>
        </form>

    </div>
<div class="form-check">
    <h2>Escolha um dos algoritmos</h2>
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
        KNN
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
        SVM
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
        Linear
  </label>
</div>

<button type="button" class="btn btn-primary btn-lg">Treinar</button>


</body>
</html>